<%- include('../../fragment/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationOperationForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= operation._id %>">

        <label for="idWillingOrganDonor">WillingOrganDonor: <span class="symbol-required">*</span></label>
        <select name="idWillingOrganDonor" id="idWillingOrganDonor" class="<%= validationErrors.find(err => err.path.includes('idWillingOrganDonor')) ? 'error-input' : '' %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="">-- Choose WillingOrganDonor --</option>
            <% for(let i=0; i<allWillingOrganDonors.length; i++) { let willingOrganDonor = allWillingOrganDonors[i]; %>
                <option value="<%=willingOrganDonor._id%>" label="<%= willingOrganDonor.name%>"<%= (operation._id && willingOrganDonor._id.toString() == operation.willingOrganDonor._id.toString()) ? 'selected' : ''%>></option>
            <% } %>
        </select>
        <span id="errorWillingOrganDonor" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('idWillingOrganDonor'))) { %>
                <%= validationErrors.find(err => err.path.includes('idWillingOrganDonor')).message %>
            <% } %>
        </span>

        <label for="idDoctor">Doctor: <span class="symbol-required">*</span></label>
        <select name="idDoctor" id="idDoctor" class="<%= validationErrors.find(err => err.path.includes('idDoctor')) ? 'error-input' : '' %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="">-- Choose Doctor --</option>
            <% for(let i=0; i<allDoctors.length; i++) { let doctor = allDoctors[i]; %>
                <option value="<%=doctor._id%>" label="<%= doctor.name%>"<%= (operation._id && doctor._id.toString() == operation.doctor._id.toString()) ? 'selected' : ''%>></option>
            <% } %>
        </select>
        <span id="errorDoctor" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('idDoctor'))) { %>
                <%= validationErrors.find(err => err.path.includes('idDoctor')).message %>
            <% } %>
        </span>

        <label for="idOrgan">Organ: <span class="symbol-required">*</span></label>
        <select name="idOrgan" id="idOrgan" class="<%= validationErrors.find(err => err.path.includes('idOrgan')) ? 'error-input' : '' %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="">-- Choose Organ --</option>
            <% for(let i=0; i<allOrgans.length; i++) { let organ = allOrgans[i]; %>
            <option value="<%=organ._id%>" label="<%= organ.name%>" <%= (operation._id && organ._id.toString() == operation.organ._id.toString()) ? 'selected' : ''%>></option>
            <% } %>
        </select>
        <span id="errorOrgan" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('idOrgan'))) { %>
                <%= validationErrors.find(err => err.path.includes('idOrgan')).message %>
            <% } %>
        </span>

        <label for="successful">Successful: </label>
        <select name="successful" id="successful" class="<%= validationErrors.find(err => err.path.includes('successful')) ? 'error-input' : '' %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <span id="errorSuccessful" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('successful'))) { %>
                <%= validationErrors.find(err => err.path.includes('successful')).message %>
            <% } %>
        </span>

        <!--        Roses are red, violets are blue, checkboxes are cursed, fuck-->
        <!--        <label for="successful">Successful: </label>-->
        <!--        <input type="checkbox" name="successful" id="successful" true-value="true" false-value="false"-->
        <!--         //operation.successful ? 'checked' : '' -->
        <!--         //(formMode == 'showDetails') ? 'disabled' : '>/>-->
        <!--        <span id="errorSuccessful" class="errors-text"></span>-->

        <label for="bedNumber">BedNumber:  <span class="symbol-required">*</span></label>
        <input type="number" name="bedNumber" id="bedNumber" min="1" max="99" class="<%= validationErrors.find(err => err.path.includes('bedNumber')) ? 'error-input' : '' %>"
        placeholder="1-99" value="<%= operation.bedNumber %>"
        <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorBedNumber" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('bedNumber'))) { %>
                <%= validationErrors.find(err => err.path.includes('bedNumber')).message %>
            <% } %>
        </span>

        <label for="operationTimestamp">OperationTimestamp:  <span class="symbol-required">*</span></label>
        <%if (formMode == 'createNew') { %>
            <input type="date" name="operationTimestamp" id="operationTimestamp" class="<%= validationErrors.find(err => err.path.includes('operationTimestamp')) ? 'error-input' : '' %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <%} else {%>
            <input type="date" name="operationTimestamp" id="operationTimestamp" class="<%= validationErrors.find(err => err.path.includes('operationTimestamp')) ? 'error-input' : '' %>" value="<%= operation.operationTimestamp ? operation.operationTimestamp.toISOString().split('T')[0] : '' %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <%}%>

        <span id="errorOperationTimestamp" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('operationTimestamp'))) { %>
                <%= validationErrors.find(err => err.path.includes('operationTimestamp')).message %>
            <% } %>
        </span>

        <% if(formMode == 'showDetails') { %>
            <div class="form-buttons"> <!-- labeled as "selection-buttons in the tutorial" -->
                <a href="/operations/edit/<%=operation._id%>" class="form-button-edit">Edit</a>
            </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>"  />
            <a class="form-button-cancel" href="/operations">Cancel</a>
            <% } else { %>
                <a class="form-button-cancel" href="/operations">Return</a>
            <% } %>
        </div>

    </form>

    <% if(formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Doctor Details</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DateJoin</th>
                    <th>DateLeave</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href = "/doctors/details/<%= operation.doctor._id %>"><%= operation.doctor.name %></a></td>
                    <td><%= operation.doctor.dateJoin.toISOString().split('T')[0] %></td>
                    <td><%= operation.doctor.dateLeave ? operation.doctor.dateLeave.toISOString().split('T')[0] : '' %></td>
                </tr>
            </tbody>
        </table>

        <h2>WillingOrganDonor Details</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CellNumber</th>
                    <th>PatientFrom</th>
                    <th>PatientTill</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href = "/willingOrganDonors/details/<%= operation.willingOrganDonor._id %>"><%= operation.willingOrganDonor.name %></a></td>
                    <td><%= operation.willingOrganDonor.cellNumber %></td>
                    <td><%= operation.willingOrganDonor.patientFrom.toISOString().split('T')[0] %></td>
                    <td><%= operation.willingOrganDonor.patientTill ? operation.willingOrganDonor.patientTill.toISOString().split('T')[0] : '' %></td>
                </tr>
            </tbody>
        </table>

        <h2>Organ Details</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href = "/organs/details/<%= operation.organ._id %>"><%= operation.organ.name %></a></td>
                    <td><%= operation.organ.price %></td>
                </tr>
            </tbody>
        </table>
    <% } %>
</main>

<%- include('../../fragment/footer.ejs') %>