<%- include('../../fragment/header.ejs') %>

<main>
    <h2>List of Operations</h2>
    <% if(loggedUser) {%>
    <table class="table-list">
        <thead>
            <tr>
                <th>WILLING Organ Donor</th>
                <th>Doctor</th>
                <th>Organ</th>
                <th>Successful</th>
                <th>Bed Number</th>
                <th>Operation Timestamp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(let operation of operations) { %>
            <tr>
                <td><%= operation.willingOrganDonor.name %></td>
                <td><%= operation.doctor.name %></td>
                <td><%= operation.organ.name %></td>
                <td><%= operation.successful %></td>
                <td><%= operation.bedNumber %></td>
                <td><%= operation.operationTimestamp.toISOString().split('T')[0] %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/operations/details/<%=operation._id%>" class="list-actions-button-details">Details</a>
                        </li>
                        <li><a href="/operations/edit/<%=operation._id%>" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li><a href="/operations/delete/<%=operation._id%>" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="/operations/add" class="button-add">Add a new Operation</a></p>
    <%} else {%>
        <h5>Log in to see more details</h5>
    <%}%>
</main>

<%- include('../../fragment/footer.ejs') %>