<%- include('../../fragment/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationDoctorForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= doctor._id %>">

        <label for="Name">Name: <span class="symbol-required">*</span></label> <!--TODO oh my fucking god I wrote "Name" instead of "name" and I don't know if it'll have consequences-->
        <input type="text" name="name" id="name" class="<%= validationErrors.find(err => err.path.includes('name')) ? 'error-input' : '' %>" placeholder="1-200 characters" value="<%= doctor.name %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>

        <span id="errorName" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('name'))) { %>
                <%= validationErrors.find(err => err.path.includes('name')).message %>
            <% } %>
        </span>

        <!-- UPDATE: IT DID HAVE CONSEQUENCES! THAT WAS THE FUCKING BUG THAT I'VE BEEN TRYING TO FIND FOR 2 HOURS -->

        <label for="DateJoin">DateJoin: <span class="symbol-required">*</span></label>
        <%if (formMode == 'createNew'){%>
            <input type="date" name="dateJoin" id="dateJoin" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(err => err.path.includes('dateJoin')) ? 'error-input' : '' %>"/>
        <%} else {%>
            <input type="date" name="dateJoin" id="dateJoin" value="<%= doctor.dateJoin ? doctor.dateJoin.toISOString().split('T')[0] : '' %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(err => err.path.includes('dateJoin')) ? 'error-input' : '' %>"/>
        <%}%>

        <span id="errorDateJoin" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('dateJoin'))) { %>
                <%= validationErrors.find(err => err.path.includes('dateJoin')).message %>
            <% } %>
        </span>

        <label for="DateLeave">DateLeave: </label>
        <%if (formMode == 'createNew') { %>
        <input type="date" name="dateLeave" id="dateLeave" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(err => err.path.includes('dateLeave')) ? 'error-input' : '' %>"/>
        <%} else {%>
        <input type="date" name="dateLeave" id="dateLeave" value="<%= doctor.dateLeave ? doctor.dateLeave.toISOString().split('T')[0] : '' %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(err => err.path.includes('dateLeave')) ? 'error-input' : '' %>"/>
        <%}%>

        <span id="errorDateLeave" class="errors-text">
            <% if (validationErrors.find(err => err.path.includes('dateLeave'))) { %>
                <%= validationErrors.find(err => err.path.includes('dateLeave')).message %>
            <% } %>
        </span>



        <% if(formMode == 'showDetails') { %>
            <div class="form-buttons"> <!-- labeled as "selection-buttons in the tutorial" -->
                <a href="/doctors/edit/<%= doctor._id %>" class="form-button-edit">Edit</a>
            </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>"  />
                <a class="form-button-cancel" href="/doctors">Cancel</a>
            <% } else { %>
                <a class="form-button-cancel" href="/doctors">Return</a>
            <% } %>
        </div>

    </form>

    <% if(formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Operation Details</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>WillingOrganDonor</th>
                <th>Organ</th>
                <th>Successful?</th>
                <th>BedNumber</th>
                <th>OperationTimestamp</th>
            </tr>
            </thead>
            <tbody>
            <% for (let o of doctor.operations) { %>
            <tr>
                <td><a href="/willingOrganDonors/details/<%= o.willingOrganDonor._id %>"><%= o.willingOrganDonor.name %></a></td>
                <td><a href="/organs/details/<%= o.organ._id %>"><%= o.organ.name %></a></td>
                <td><%= o.successful %></td>
                <td><%= o.bedNumber %></td>
                <td><%= o.operationTimestamp.toISOString().split('T')[0] %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</main>

<%- include('../../fragment/footer.ejs') %>