<%- include('../../fragment/header.ejs') %>

<main>
    <h2>List of Doctors</h2>
    <% if(loggedUser) {%>
    <table class="table-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>DateJoin</th>
                <th>DateLeave</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let doctor of doctors) { %>
                <tr>
                    <td><%= doctor.name %></td>
                    <td><%= doctor.dateJoin.toISOString().split('T')[0] %></td>
                    <td><%= doctor.dateLeave ? doctor.dateLeave.toISOString().split('T')[0] : '' %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/doctors/details/<%=doctor._id%>" class="list-actions-button-details">Details</a></li>
                            <li><a href="/doctors/edit/<%=doctor._id %>" class="list-actions-button-edit">Edit</a></li>
                            <li><a href="/doctors/delete/<%=doctor._id %>" class="list-actions-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="/doctors/add" class="button-add">Add a new psychopath</a></p>
    <%} else {%>
        <h5>Log in to see more details</h5>
    <%}%>
</main>

<%- include('../../fragment/footer.ejs') %>