<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>NotAnOrganHarvestingOperation.INC</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<header>
    <h1>NotAnOrganHarvestingOperation.INC</h1>
    <img src="/images/rimworld_logo.png" alt="NotAnOrganHarvestingOperation.INC logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'Home' ? 'active' : ''%>">Home</a></li>
        <li><a href="/doctors" class="<%= navLocation == 'Doctors' ? 'active' : ''%>">Doctors</a></li>
        <li><a href="/operations" class="<%= navLocation == 'Operations' ? 'active' : ''%>">Operations</a></li>
        <li><a href="/willingOrganDonors" class="<%= navLocation == 'WillingOrganDonors' ? 'active' : ''%>">WillingOrganDonors</a></li>
        <li><a href="/organs" class="<%= navLocation == 'Organs' ? 'active' : ''%>">Organs</a></li>
    </ul>
</nav>