<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>NotAnOrganHarvestingOperation.INC</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<header>
    <h1>NotAnOrganHarvestingOperation.INC</h1>
    <img src="/images/rimworld_logo.png" alt="NotAnOrganHarvestingOperation.INC logo">
    <% if(!loggedUser) { %>
        <div id="login">
            <h5><%= __('login.login')%></h5>
            <form method="post" action="/login" novalidate>
                <label for="loginName"><%= __('login.name')%></label>
                <input type="text" id="loginName" name="name">

                <label for="loginPassword"><%= __('login.password')%></label>
                <input type="password" id="loginPassword" name="password">

                <input type="submit" value="Sign in">
                <span id="loginErrors"><%= loginError ? loginError : ''%></span>
            </form>
        </div>
    <% } else { %>
        <span><%= __('login.loggedMessage')%>: <%=loggedUser.name%></span>
        <a href="/logout"><%= __('login.logOut')%></a>
    <% } %>
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'Home' ? 'active' : ''%>"><%= __('nav.home')%></a></li>
        <li><a href="/doctors" class="<%= navLocation == 'Doctors' ? 'active' : ''%>"><%= __('nav.doctors')%></a></li>
        <li><a href="/operations" class="<%= navLocation == 'Operations' ? 'active' : ''%>"><%= __('nav.operations')%></a></li>
        <li><a href="/willingOrganDonors" class="<%= navLocation == 'WillingOrganDonors' ? 'active' : ''%>"><%= __('nav.willingOrganDonors')%></a></li>
        <li><a href="/organs" class="<%= navLocation == 'Organs' ? 'active' : ''%>"><%= __('nav.organs')%></a></li>
        <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : ''%>">PL</a></li>
        <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : ''%>">EN</a></li>

    </ul>
</nav>