<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>NotAnOrganHarvestingOperation.INC</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<header>
    <h1>NotAnOrganHarvestingOperation.INC</h1>
    <img src="/images/rimworld_logo.png" alt="NotAnOrganHarvestingOperation.INC logo">
    <% if(!loggedUser) { %>
        <div id="login">
            <h5>Login</h5>
            <form method="post" action="/login" novalidate>
                <label for="loginName">Name:</label>
                <input type="text" id="loginName" name="name">

                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="password">

                <input type="submit" value="Sign in">
                <span id="loginErrors"><%= loginError ? loginError : ''%></span>
            </form>
        </div>
    <% } else { %>
        <span>You are logged in as: <%=loggedUser.name%></span>
        <a href="/logout">Sign out</a>
    <% } %>
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'Home' ? 'active' : ''%>">Home</a></li>
        <li><a href="/doctors" class="<%= navLocation == 'Doctors' ? 'active' : ''%>">Doctors</a></li>
        <li><a href="/operations" class="<%= navLocation == 'Operations' ? 'active' : ''%>">Operations</a></li>
        <li><a href="/willingOrganDonors" class="<%= navLocation == 'WillingOrganDonors' ? 'active' : ''%>">WillingOrganDonors</a></li>
        <li><a href="/organs" class="<%= navLocation == 'Organs' ? 'active' : ''%>">Organs</a></li>
    </ul>
</nav>