<%- include('../../fragment/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationOrganForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= organ._id %>">

        <label for="name">Name: <span class="symbol-required">*</span></label>
        <input type="text" name="name" id="name" placeholder="1-200 characters" value="<%= organ.name %>"
        <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorName" class="errors-text"></span>

        <label for="price">Price:  <span class="symbol-required">*</span></label>
        <input type="number" step="0.01" name="price" id="price" min="0" max="99999.99" placeholder="0-99999.99" value="<%= organ.price %>"
        <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorPrice" class="errors-text"></span>

        <% if(formMode == 'showDetails') { %>
            <div class="form-buttons"> <!-- labeled as "selection-buttons in the tutorial" -->
                <a href="/organs/edit/<%= organ._id %>" class="form-button-edit">Edit</a>
            </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>"  />
            <a class="form-button-cancel" href="/organs">Cancel</a>
            <% } else { %>
                <a class="form-button-cancel" href="/organs">Return</a>
            <% } %>
        </div>

    </form>

    <% if(formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Operation Details</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Doctor</th>
                <th>WillingOrganDonor</th>
                <th>Successful?</th>
                <th>BedNumber</th>
                <th>OperationTimestamp</th>
            </tr>
            </thead>
            <tbody>
            <% for (let o of organ.operations) { %>
            <tr>
                <td><a href="/doctors/details/<%= o.doctor._id %>"><%=o.doctor.name %></a></td>
                <td><a href="/willingOrganDonors/details/<%= o.willingOrganDonor._id %>"><%= o.willingOrganDonor.name %></a></td>
                <td><%= o.successful %></td>
                <td><%= o.bedNumber %></td>
                <td><%= o.operationTimestamp.toISOString().split('T')[0] %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</main>

<%- include('../../fragment/footer.ejs') %>