<%- include('../../fragment/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationWillingOrganDonorForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= willingOrganDonor._id %>">

        <label for="name">Name:  <span class="symbol-required">*</span></label>
        <input type="text" name="name" id="name" placeholder="1-200 characters" value="<%= willingOrganDonor.name %>"
        <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorName" class="errors-text"></span>

        <label for="cellNumber">CellNumber:  <span class="symbol-required">*</span></label>
        <input type="number" name="cellNumber" id="cellNumber" min="1" max="99" placeholder="1-99" value="<%= willingOrganDonor.cellNumber %>"
        <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorCellNumber" class="errors-text"></span>

        <label for="patientFrom">PatientFrom:  <span class="symbol-required">*</span></label>
        <input type="date" name="patientFrom" id="patientFrom" value=
        "<%= willingOrganDonor.patientFrom ? willingOrganDonor.patientFrom.toISOString().split('T')[0] : '' %>"
        <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorPatientFrom" class="errors-text"></span>

        <label for="patientTill">PatientTill:</label>
        <input type="date" name="patientTill" id="patientTill" value=
        "<%= willingOrganDonor.patientTill ? willingOrganDonor.patientTill.toISOString().split('T')[0] : '' %>"
        <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorPatientTill" class="errors-text"></span>

        <% if(formMode == 'showDetails') { %>
            <div class="form-buttons"> <!-- labeled as "selection-buttons in the tutorial" -->
                <a href="/willingOrganDonors/edit/<%= willingOrganDonor._id %>" class="form-button-edit">Edit</a>
            </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>"  />
            <a class="form-button-cancel" href="/willingOrganDonors">Cancel</a>
            <% } else { %>
                <a class="form-button-cancel" href="/willingOrganDonors">Return</a>
            <% } %>
        </div>
    </form>

    <% if(formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Operation Details</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Doctor</th>
                <th>Organ</th>
                <th>Successful?</th>
                <th>BedNumber</th>
                <th>OperationTimestamp</th>
            </tr>
            </thead>
            <tbody>
            <% for (let o of willingOrganDonor.operations) { %>
                <tr>
                    <td><a href="/doctors/details/<%= o.doctor._id %>"><%=o.doctor.name %></a></td>
                    <td><a href="/organs/details/<%= o.organ._id %>"><%= o.organ.name %></a></td>
                    <td><%= o.successful %></td>
                    <td><%= o.bedNumber %></td>
                    <td><%= o.operationTimestamp.toISOString().split('T')[0] %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</main>
<%- include('../../fragment/footer.ejs') %>